{% extends "cpanel/base-rtl.html" %}
{% load myTags %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">
                تعديل القسم الفرعي
            </h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'cpanel:ar_dashboard' %}">
                            لوحة التحكم
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'cpanel:ar_sub_category_list' %}">
                            قائمة الاقسام الفرعية
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        تعديل القسم الفرعي
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    تعديل بيانات القسم الفرعي
                </h4>
                <br />
                <form method="POST" enctype="multipart/form-data" class="custom-validation" id="add_form"> {% csrf_token %}
                    <!-- Your Field Goes Here -->
                    <div class="form-group">
                        <label>
                            الاسم باللغة العربية
                        </label>
                        <input class="form-control" placeholder=" الاسم باللغة العربية" required="" type="text" name='arabic_name' maxlength="32" value="{{sub_category.arabic_name}}">
                    </div>
                    <div class="form-group">
                        <label>
                            الاسم باللغة الانجليزية
                        </label>
                        <input class="form-control" placeholder=" الاسم باللغة الانجليزية" required="" type="text" name='english_name' maxlength="32" value="{{sub_category.english_name}}">
                    </div>
                    <div class="form-group">
                        <label>
                            القسم الرئيسي
                        </label>
                        <select class="form-control" name="main_category">
                            {% for main_category in main_categories %}
                            {% if sub_category.main_category.id == main_category.id %}
                            <option value="{{main_category.id}}" selected>
                                {{main_category.arabic_name}}
                            </option>
                            {% endif %}
                            <option value="{{main_category.id}}">
                                {{main_category.arabic_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            الصورة: <a href="{{sub_category.image.url}}" target="_blank">عرض الصورة</a>
                        </label>
                        <div class="custom-file">
                            <input class="custom-file-input form-control" id="customFile" type="file" onchange="image_upload()" accept="image/*" name="image">
                            <label class="custom-file-label" for="customFile" id="image_label">
                                اختر الصورة
                            </label>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group mb-0 text-center">
                        <div>
                            <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                حفظ
                            </button>
                            <button class="btn btn-secondary waves-effect" type="reset">
                                الغاء
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
