{% load staticfiles %}
<!DOCTYPE doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        Lock screen | Mersal
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="DSC Akhbar Alyoum Academy" name="author" />
    <!-- App favicon -->
    <link href="{% static 'cpanel/images/favicon.png' %}" rel="shortcut icon" />
    <!-- Bootstrap Css -->
    <link href="{% static 'cpanel/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'cpanel/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'cpanel/css/app-rtl.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <style>
        html {
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="account-pages my-2 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">
                                            قفل الشاشة
                                        </h5>
                                        <p>
                                            ادخل كلمة المرور لفتح قفل الشاشة!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img alt="" class="img-fluid" src="{% static 'cpanel/images/profile-img.png' %}" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a>
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img alt="" height="34" src="{% static 'cpanel/images/logo/logo-sm.png' %}" />
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form method="POST" class="form-horizontal"> {% csrf_token %}
                                    <div class="user-thumb text-center mb-4">
                                        <img alt="thumbnail" class="rounded-circle img-thumbnail avatar-md" src="{% static 'cpanel/images/users/avatar-male.jpg' %}" />
                                        <h5 class="font-size-15 mt-3">
                                            {{user.username}}
                                        </h5>
                                    </div>
                                    <input type="hidden" name="username" value="{{user.username}}">
                                    <div class="form-group">
                                        <label for="userpassword">
                                            كلمة المرور
                                        </label>
                                        <input class="form-control" id="userpassword" placeholder="ادخل كلمة المرور" type="password" name="password" />
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-12 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                                فتح القفل
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>
                            ليس انت ؟ الرجوع
                            <a class="font-weight-medium text-primary" href="{% url 'ar_login' %}">
                                تسجيل الدخول
                            </a>
                        </p>
                        <p>
                            © 2020 Mersal. Crafted with
                            <i class="mdi mdi-heart text-danger">
                            </i>
                            by DSC Akhbar El youm Academy
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'cpanel/js/main.js' %}"></script>
</body>

</html>
